@import '../../scss/variables';

.schema {
  min-height: 290px;
}
.entries-outline {
  margin-left: 0.8rem;
  ul {
    padding: 0.625rem;
    padding-bottom: 0.3125rem;
    padding-top: 0;
    transition: opacity 0.2s linear;
    li {
      color: $color-font-base;
      cursor: pointer;
      font-size: $size-font-large;
      font-weight: $font-weight-medium;
      padding: 0;
      white-space: nowrap;
      .iconsholder {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        &:hover {
          .title {
            color: $color-brand-primary-base;
          }
          .icons {
            svg {
              path {
                stroke: $color-brand-primary-base;
              }
              &.chevron {
                path {
                  fill: $color-brand-primary-base;
                  stroke: $color-brand-primary-base;
                }
              }
            }
          }
        }
        .icons {
          * {
            pointer-events: none;
            stroke: $color-font-active;
          }
          &.nested {
            margin-left: -0.9375rem;
          }
        }
        &.active {
          .icons {
            svg {
              path {
                stroke: $color-brand-primary-base;
              }
              &.chevron {
                path {
                  fill: $color-brand-primary-base;
                  stroke: $color-brand-primary-base;
                }
              }
            }
          }
          & > .title {
            color: $color-brand-primary-base;
            font-weight: $font-weight-semi-bold;
          }
        }
      }
      .field-title {
        color: $color-font-base;
        font-size: $size-font-large;
        font-weight: $font-weight-regular;
        line-height: $line-height-reset !important;
        opacity: 1;
        overflow: hidden;
        padding: 0.625rem 0;
        text-overflow: ellipsis;
        text-transform: capitalize;
        transition: opacity 0.5s linear, width 300ms linear;
        white-space: nowrap;
        width: 12.5rem;
      }
      .icons {
        align-items: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 0.625rem 0;
        svg {
          margin-right: 0.375rem;
          &.field-icon {
            max-width: 12px;
          }
        }
      }
      .chevron {
        display: inline-block;
        transition: all 0.3s linear;
        &.close {
          transform: rotate(-90deg);
        }
      }
      & > ul {
        padding-left: 0.125rem;
        & > li {
          & > ul {
            padding-left: 1.5625rem;
          }
        }
      }
    }
    &.close {
      height: 0 !important;
      opacity: 0 !important;
      overflow: hidden;
      padding: 0 0.625rem;
      transition: opacity 0.8s linear;
    }
  }
}
