@import '../../../scss/variables';
/**
 * Styles for the card component.
 */

// Styles for the service list container
.service_list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: $px-12;
  margin-left: 10px !important;
  margin-bottom: 10px;
}

// Styles for the trigger list container
.trigger_list {
  min-width: 120px !important;
}

// Styles for the connector list container
.connector_list {
  // Styles for the tooltip box within the connector list
  .tippy-box-light {
    max-width: $px-360 !important;
    padding: $px-15 !important;
    line-height: 130%;
    font-size: $px-12;
    font-weight: $font-weight-regular;
  }

  // Styles for the help text within the connector list tooltip box
  .tippy-box-light #automationConnectorsHelpText {
    cursor: default;
    color: $color-base-gray-20;
  }
}

// Styles for the action list and trigger list containers
.action_list,
.trigger_list {
  // Styles for the container border
  //border: 1px solid $color-base-gray-40;
  border: 1px solid #6C5CE766;
  border-radius: $px-6;
  flex: 0 10%;
  cursor: pointer;
  min-width: $px-117;
  text-align: center;
  height: 128px;
  gap: 12px;
}

// Styles for the connector list container on hover
.connector_list:hover {
  box-shadow: 0 3px $px-5 $px-2 rgb(215 215 215);
}

// Styles for the service icon
.service_icon {
  padding: $space-20 0;
}

// Styles for the service title
.service_title {
  padding: $px-5 $px-5;
  min-height: $px-40;
  max-height: $px-40;
  overflow-y: auto;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 0 0 $px-6 $px-6;
  background: $color-base-white-10;
}

// Styles for the full-screen page layout head
.PageLayout--full-screen .PageLayout__head {
  position: relative;
  border-bottom: 1px solid rgb(226, 235, 248);
  box-shadow: rgba(226, 235, 248, 0.15) 0 $space-10 15px;
  border: 1px solid rgba(204, 204, 204, 0.6);
  margin-top: 3.5rem;
  z-index: 8;
}

// Styles for the centered card title
.centered-card-title {
  margin: 10px;
}
