.select-container {
    display: flex;

    .select-wrapper {
        display: flex;
        margin-left: 1rem;

    }
}

.Search-input-show {
    margin-bottom: 4px;
}

.PageLayout--primary .PageLayout__leftSidebar+.PageLayout__content .PageLayout__body {
    width: calc(100% - 15rem);
}

.Table__head__column {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.Table:has(.custom-empty-state) {
    height: 40.5rem;
}