.select-container {
    display: flex;

    .select-wrapper {
        display: flex;
        margin-left: 1rem;

        .select-box {
            margin-bottom: 4px;
        }
    }
}

.Search-input-show {
    margin-bottom: 4px;
}

.PageLayout--primary .PageLayout__leftSidebar+.PageLayout__content .PageLayout__body {
    width: calc(100% - 15rem);
}

.Table:has(.custom-empty-state) {
    height: 40.5rem;
}

.custom-empty-state {
    .Icon--original {
        width: 240px !important;
        height: auto !important;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

.TablePanel__list-count flex-v-center {
    display: none;
}