@import '../../scss/variables';

.mainheader {
  background-color: $color-brand-white-base;
  // border-bottom: 1px solid $color-brand-secondary-lightest;
  height: 3.5rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  button {
    border: 0 none;
  }
  .logo {
    position: relative;
    text-align: center;
    width: 3.5rem;
    a {
      align-items: center;
      display: flex;
      height: 2.5rem;
      justify-content: center;
      padding: 0.5rem;
      text-decoration: none;
    }
    a:focus {
      border-radius: 5px;
      box-shadow: 0 0 1px $color-brand-primary-base, 0 0 0 4px #bbb4f4;
    }
  }
  .organisationWrapper {
    margin-left: 1.063rem;
    &:focus {
      box-shadow: 0 0 1px $color-brand-primary-base, 0 0 0 4px #bbb4f4;
    }
  } 
  .Dropdown-wrapper {
    padding: 0 18px;
  }
  .Dropdown__header__value {
    overflow: visible;
    line-height: 1.2;
  }
  .Dropdown__header__label {
    margin-bottom: 0;
  }
  .Dropdown.Dropdown--hover .Dropdown__menu--primary {
    top: 2.5rem;
  }
  .organisationWrapper {
    .Dropdown__header__value {
      color: #475161;
      max-width: 11.1875rem;
      width: auto;
      // overflow: hidden;
    }
    .Dropdown__menu--primary .Dropdown__menu__list__item,
    .Dropdown__menu--secondary .Dropdown__menu__list__item,
    .Dropdown__menu--tertiary .Dropdown__menu__list__item {
      max-width: 14.5rem;
    }
  }
}
.Dropdown__header__label {
  line-height: $line-height-reset;
}
.Dropdown__header__value {
  color: $color-black-222 !important;
  line-height: $line-height-reset;
}
