@import '../../scss/variables';

.project-search-wrapper {
  margin-left: $px-12;
  .Search {
    background-color: $color-brand-white-base;
    height: 2.5rem;
  }
  ::placeholder {
    font-size: $px-16;
    color: $color-stepper-title !important;
  }
}

.projects-landing {
  &.layout-container {
    .PageLayout--primary {
      .PageLayout__head,
      .PageLayout__body {
        border-left: 0 none;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
      .PageLayout__head {
        border-top: 0 none;
        height: auto;
        border-bottom: 1px solid $color-brand-secondary-lightest;
        padding:20px 10px 20px 13px;
      }
    }
  }
}
.EmptyState__description {
  p {
    color: $color-font-base;
  }
}

.helpText {
  font-size: 14px;
  padding-top: 30px;
  p {
    color: $color-font-base;
    a {
      color: $color-brand-primary-base;
    }
  }
}
.EmptyStateWrapper {
  .EmptyState {
    max-width: 35rem !important;
  }
  .EmptyState__title {
    padding-top: 15px;
  }
}