@import '../../scss/variables';

.project-search-wrapper {
  margin-top: 2px;
  margin-left: 8px;
}

.projects-landing {
  &.layout-container {
    .PageLayout--primary {
      .PageLayout__head,
      .PageLayout__body {
        border-left: 0 none;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
      .PageLayout__head {
        border-top: 0 none;
      }
    }
  }
}
.EmptyState__description {
  p {
    color: $color-font-base;
  }
}

.helpText {
  font-size: 14px;
  padding-top: 30px;
}
.EmptyStateWrapper {
  .EmptyState {
    max-width: 35rem !important;
  }
  .EmptyState__title {
    padding-top: 15px;
  }
}