@import '../../../scss/variables';

#setting-page {
  display: flex;
  width: 100%;
  .SectionHeader {
    color: $color-stepper-title;
    font-weight: $font-weight-semi-bold;
    margin-bottom: 2rem;
  }
  .PageLayout {
    width: 100%;
  }
  .PageLayout__head, .PageLayout__leftSidebar {
    border-top: 0 none;
  }
  .PageLayout--primary {
    .PageLayout__content {
      .PageLayout__body {
        background: none;
        margin-left: 15rem;
        padding-top: $px-8;
      }
    } 
  } 
  .action-component-title {
    justify-content: space-between;
    width: calc(100vw - 326px);
  }
  .content-block {
    margin-right: 0;
    padding: 1.5rem;
    width: 100%;
  }
}

.Field {
  margin-bottom: $px-40;
}
.PageLayout__leftSidebar--hide {
  display: none;
}

.leftsidebar {
  margin-top: 0 !important;
}

// .content-body .white-box-container {
//   background-color: $color-brand-white-base;
//   padding: 20px;
//   margin-top: 50px !important;
//   margin-left: 240px;
//   margin-right: auto;
//   position: relative;
//   z-index: 10;
//   height: 600px;
// }

.stack-settings__heading {
  color: $color-base-black-base;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 21.008px;
  line-height: 1.313rem;
  margin-bottom: $px-20;
}

// .toggle-class {
//   width: calc(100% - 18.4375rem) !important;
// }
// .layout-container.specific-context .PageLayout__head {
//   z-index: 10 !important;
//   margin-left: 240px;
//   width: 100% !important;
// }
// .SaveButton {
//   padding: 30px 10px;
// }

// .layout-container.content-body .PageLayout__body {
//   margin-top: 90px !important;
//   margin-left: 227px !important;
// }

.PageLayout__leftSidebar {
  background-color: #f7f9fc !important;
}
.ListRowV2--active {
  background-color: #fff;
  border-left: 0.125rem solid;
  color: #6c5ce7 !important;
  font-weight: 600;
}
