@import '../../scss/variables'; 
.service_list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: $space-15;
}

.pl-40 {
  padding-left: $px-40;
}

.center-align {
  margin-top: calc(100vh - 65%);
}

.CircularLoader--size-small {
  width: $px-80 !important;
  height: $px-80 !important;
}

.CircularLoader {
  display: inline-block !important;
  border-top: $px-5 solid $color-brand-primary-base !important;
}
.legacy-cms-container {
  padding: $px-60 0 $px-60 10% !important;
  width: $px-850 !important;
}

.service_list_search {
  display: flex;
  margin: $space-15;
}

.service_list_search_bar {
  flex: 15;
  margin-right: $px-15;
  height: $px-35;
}

.service_list_search_bar .Search-input-show {
  width: 100%;
}

.service_list_search_button {
  flex: 1;
}

.service_list_search_button .Filter__modal {
  right: $px-15;
}

.service_list_search_button .Filter__wrapper {
  position: absolute;
}

.service_list_search_button .Filter__icon {
  min-height: $px-40;
  top: -8px;
}
.validation-container {
  display: flex;
  background-color: $color-base-white-5;
  height: $px-108;
  width: 100%;
  align-items: center;
  padding: 0 !important;
  border: 1px solid #dde3ee;
  border-radius: var(--TermCount, 5px);
}
.errorMessage {
  color: $color-brand-warning-medium;
  font-size: 12px;
}
