@import '../../../scss/variables';
/**
 * Styles for the file upload container.
 */
.file-upload-container {
  display: flex;
  height: 21.25rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 0.125rem dashed $color-base-gray-40;

  /**
   * Styles for the file upload element.
   */
  .file-upload {
    display: flex;
    height: 4.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
  }

  /**
   * Styles for the text inside the file upload element.
   */
  .file-upload-text {
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 150%;
    letter-spacing: 0.16px;
  }

  /**
   * Styles for the image inside the file upload container.
   */
  .file-upload-image {
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
  }
}

/**
 * Adds a hover effect to the element, displaying a dashed border in the base purple color.
 *
 * @class hover
 */
.hover {
  border: 0.125rem dashed $color-base-purple;
}

/**
 * This SCSS file contains styles for the FileUpload component.
 */

.hidden {
  display: none;
}

/**
 * Styles for the validation container component.
 *
 * The validation container is a flex container that displays a validation message
 * for a file upload component. It has a white background color, a fixed height,
 * and a border. The container is centered vertically and has no padding.
 *
 * @class validation-container
 */
.validation-container {
  display: flex;
  background-color: $color-base-white-5;
  height: $px-108;
  width: 100%;
  align-items: center;
  padding: 0 !important;
  border: 1px solid #dde3ee;
  border-radius: var(--TermCount, 5px);
}
