@import '../../../scss/variables';

.summary-title {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: $size-font-medium;
  line-height: 135%;
  letter-spacing: 0.02em;
  color: $color-font-black;
  margin-top: 3px;
}

#Step2 .action-summary-wrapper {
  background-color: rgb(247, 249, 252);
  border: none;
  padding: 0 10px !important;
  margin-bottom: 0;
  margin-left: 0;
  top: 50%;
}

#Step2 .StepperWrapper__step {
  padding: 0 !important;
}

.col-12 {
  text-align: left;
  padding: 0;
}
