@import '../../../scss/variables';
.summary-title {
  //font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 135%;
  letter-spacing: 0.02em;
  //color: $color-font-black;
  margin-top: 3px;
}

.Checkbox input:disabled ~ .Checkbox__label {
  opacity: 1;
}
.Checkbox.Checkbox--state-checked {
  display: flex;
}
.Checkbox .Checkbox__tick svg {
  display: block;
}
.Checkbox.Checkbox--state-checked.Checkbox--state-disabled {
  color: #212121;
  opacity: 1;
}
.Checkbox-wrapper .Checkbox {
  display: flex;
}
.Checkbox-wrapper .Checkbox .Checkbox__label {
  margin-top: -2px;
}
.Checkbox input:disabled:checked ~ .Checkbox__label,
.Checkbox input:disabled:indeterminate ~ .Checkbox__label {
  color: #212121;
  opacity: 1;
}
.affix-container {
  display: flex;
  background-color: $color-base-white-5;
  height: $px-40;
  width: $px-435;
  align-items: center;
  text-align: center;
  padding: 0 !important;
  border: 1px solid #dde3ee;
  border-radius: var(--TermCount, 5px);
}
