@import '../../scss/variables';
@import '../../components/AccountPage/index.scss';

/* Login page , Reset Password , Forgot password , two-factor Authentication */
.AccountForm {
  width: 26.25rem;

  /* &.app-login {
		width: 26.25rem;
	} */
  &__sso-field {
    width: 26.25rem;
  }
  &__actions__login_button,
  &__actions__send_instructions_button,
  &__actions__verify_button {
    svg {
      path {
        fill: $color-brand-white-base;
      }
    }
  }
  &__actions__login-or {
    color: $color-font-base;
  }
  &.reset-password {
    form {
      display: flex;
      flex-direction: column;
      /* width: 20rem; */
      .Field {
        margin-left: -$space-10;
      }
      .ValidationMessage {
        flex-grow: 0;
        margin: 0.188rem 0;
      }
    }
  }
  &.forgot-password {
    form {
      display: flex;
      flex-direction: column;
      .forgot-password-text {
        margin: $space-36 0 $space-32;
        p {
          font-size: $size-font-small;
          line-height: $space-20;
        }
        & + .Field {
          margin-left: -$space-10;
        }
      }
    }
    .forgot-password__actions {
      width: 26.25rem;
    }
  }
  &__cnf-text {
    color: $color-font-black;
    font-size: $size-font-small;
    font-weight: $font-weight-regular;
    & + .Link {
      display: inline-block;
    }
  }
  /* .link-expired-text {
		font-size: 14px;
		line-height: 1.5rem;
	} */

  &_login {
    min-height: 23rem;
    min-width: 16.25rem;
  }

  &__name {
    font-family: $font-family-primary;
    font-size: $size-font-3-xl;
    font-weight: $font-weight-extra-bold;
    line-height: $line-height-reset;
  }

  &__tabs {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 $space-30 0;
  }

  &__tab {
    margin-right: $space-50;
    &:hover {
      .AccountForm__tab_button {
        color: $color-brand-primary-base;
      }
    }
    &--active {
      .AccountForm__tab_button {
        border-bottom: 1px solid $color-brand-primary-base;
        color: $color-brand-primary-base;

        &:focus {
          border-radius: $radii-4;
          box-shadow: 0 0 0 1px $color-brand-primary-base, 0 0 0 $space-4 #bbb4f4;
          padding: $space-6;
        }
      }
    }
  }

  &__tab_button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    color: $color-font-active;
    font-family: $font-family-primary;
    font-size: $size-font-small;
    font-weight: $font-weight-bold;
    line-height: $line-height-reset;
    padding: 0 0 $space-12 0;
    &:focus {
      border-radius: $radii-4;
      box-shadow: 0 0 0 1px $color-brand-primary-base, 0 0 0 $space-4 #bbb4f4;
      padding: $space-6;
    }
  }

  &__actions {
    width: 26.25rem;
    .Button {
      margin-right: $space-20;
    }
  }
}

/* for heightlighting forgot password link field */

.AccountForm__actions--forgotPassword:focus {
  border-radius: $radii-4;
  box-shadow: 0 0 0 1px $color-brand-primary-base, 0 0 0 $space-4 #bbb4f4;
  padding: $space-6;
}

@media only screen and (max-width: 1800px) and (min-width: 1500px) {
  .Activation {
    .TextInput--large {
      width: 23.75rem;
    }
  }
}
@media only screen and (max-width: 1499px) and (min-width: 1380px) {
  .Activation {
    .TextInput--large {
      width: 21.875rem;
    }
  }
}
@media only screen and (max-width: 1379px) and (min-width: 1265px) {
  .Activation {
    .TextInput--large {
      width: 20rem;
    }
  }
}
@media only screen and (max-width: 1264px) and (min-width: 1048px) {
  .Activation {
    .TextInput--large {
      width: 14.375rem;
    }
  }
}
@media only screen and (max-width: 1047px) and (min-width: 760px) {
  .Activation {
    .Activation__form__columns {
      flex-direction: column;
    }
    .TextInput--large {
      width: 100%;
    }
  }
}
.pre-text-color {
  color: $color-black-2121;
}
.send-sms {
  span {
    line-height: 1 !important;
  }
}
