@import '../../scss/variables';

.ProjectCard {
  background: $color-brand-white-base;
  border-radius: 0.6rem;
  border: 1px solid $color-brand-secondary-lightest;
  margin: 0 20px 20px;
  transition: box-shadow 0.3s ease;
  width: 20rem;
}
.ProjectCardWrapper {
  padding: 18px;
}
.ProjectCard__heading {
  display: flex;
  margin-bottom: $px-20;
  padding: 0;
}
.ProjectCard__title {
  color: $color-font-base;
  display: -webkit-box;
  font-size: $size-font-large;
  font-weight: $font-weight-semi-bold;
  height: $px-40;
  line-height: $line-height-default;
  overflow: hidden;
  padding: 0;
  white-space: normal; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ProjectCard__footer {
  display: flex;
  position: relative;
  background-color: $color-font-white;
  border-top: 1px solid $color-brand-secondary-lightest;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 59.008px;
  justify-content: flex-end;
  padding: 0.9375rem 1.875rem;
  align-items: center;
}
.ProjectCard__content {
  // margin: 0 1rem 2rem;
  padding: 0;
  text-align: center;
}
.ProjectCard__Staus-unit {
  padding: 0 1em;
}
.ProjectCard__unit {
  border-left: 1px solid $color-brand-secondary-lightest;
  padding: 0 1em;
}
.ProjectCard__unit:not(:last-child) {
  border-right: 1px solid $color-base-gray-40;
}
.ProjectCard__stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: $px-10;
}
.ProjectCard__stats-category {
  border: 1px solid $color-brand-secondary-lightest;
  border-radius: 8px;
  font-size: $size-font-large;
  color: $color-font-base;
  padding: 4px 8px;
  text-transform: capitalize;
  svg {
    margin-right: 5px;
  }
  &.draft {
    background-color: $color-base-white-10;
  }
  &.completed {
    background-color: $color-brand-success-light;
  }
  &.failed {
    background-color: $color-brand-fail-light;
  }
  &.pending {
    background-color: $color-brand-attention-light;
  }
}
.ProjectCard__stats-Title {
  color: $color-stepper-title;
  display: block;
  font-size: $size-font-small;
  margin-bottom: $space-4;
}
.validation-color {
  color: $color-brand-warning-medium;
}
.ProjectCard__cms {
  border: 1px solid $color-brand-secondary-lightest;
  border-radius: 8px;
  font-size: $size-font-large;
  color: $color-font-base;
  padding: 4px 8px;
  text-transform: capitalize;
}
.ProjectCard__modified-date {
  color: $color-stepper-title;
  display: block;
  font-size: $size-font-small;
  font-weight: $font-weight-regular;
  line-height: $line-height-reset;
  padding-left: 8px;
}
