@import '../../scss/variables';

/**
 * Styles for the ProjectCard component.
 */
.ProjectCard {
  background: $color-brand-white-base;
  border-radius: 0.6rem;
  border: 1px solid $color-brand-secondary-lightest;
  transition: box-shadow 0.3s ease;
  width: 20rem;
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .14);
    cursor: pointer;
  }
}

/**
 * Styles for the wrapper of the ProjectCard component.
 */
.ProjectCardWrapper {
  padding: 18px;
}

/**
 * Styles for the heading of the ProjectCard component.
 */
.ProjectCard__heading {
  display: flex;
  margin-bottom: $px-20;
  padding: 0;
}

/**
 * Styles for the title of the ProjectCard component.
 */
.ProjectCard__title {
  color: $color-font-base;
  display: -webkit-box;
  font-size: $size-font-large;
  font-weight: $font-weight-semi-bold;
  height: $px-40;
  line-height: $line-height-default;
  overflow: hidden;
  padding: 0;
  white-space: normal; 
  -webkit-line-clamp: 2;
  line-clamp: 2;  
  -webkit-box-orient: vertical;
}

/**
 * Styles for the footer of the ProjectCard component.
 */
.ProjectCard__footer {
  display: flex;
  position: relative;
  background-color: $color-font-white;
  border-top: 1px solid $color-brand-secondary-lightest;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 59.008px;
  justify-content: flex-end;
  padding: 0.9375rem 1.875rem;
  align-items: center;
}

/**
 * Styles for the content of the ProjectCard component.
 */
.ProjectCard__content {
  padding: 0;
  text-align: center;
}

/**
 * Styles for the status unit of the ProjectCard component.
 */
.ProjectCard__Staus-unit {
  padding: 0 1em;
}

/**
 * Styles for the unit of the ProjectCard component.
 */
.ProjectCard__unit {
  border-left: 1px solid $color-brand-secondary-lightest;
  padding: 0 1em;
}

/**
 * Styles for the stats of the ProjectCard component.
 */
.ProjectCard__stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: $px-10;
}

/**
 * Styles for the stats category of the ProjectCard component.
 */
.ProjectCard__stats-category {
  align-items: center;
  border: 1px solid $color-brand-secondary-lightest;
  border-radius: 8px;
  display: flex;
  font-size: $size-font-large;
  line-height: 21px;
  color: $color-font-base;
  padding: 4px 8px;
  text-transform: capitalize;
}

/**
 * Styles for the draft stats category of the ProjectCard component.
 */
.ProjectCard__stats-category.draft {
  background-color: $color-base-white-10;
}

/**
 * Styles for the completed stats category of the ProjectCard component.
 */
.ProjectCard__stats-category.completed {
  background-color: $color-brand-success-light;
}

/**
 * Styles for the failed stats category of the ProjectCard component.
 */
.ProjectCard__stats-category.failed {
  background-color: $color-brand-fail-light;
}

/**
 * Styles for the pending stats category of the ProjectCard component.
 */
.ProjectCard__stats-category.pending {
  background-color: $color-brand-attention-light;
}

/**
 * Styles for the stats title of the ProjectCard component.
 */
.ProjectCard__stats-Title {
  color: $color-stepper-title;
  display: block;
  font-size: $size-font-small;
  margin-bottom: $space-4;
}

/**
 * Styles for the validation color of the ProjectCard component.
 */
.validation-color {
  color: $color-brand-warning-medium;
}

/**
 * Styles for the CMS of the ProjectCard component.
 */
.ProjectCard__cms {
  border: 1px solid $color-brand-secondary-lightest;
  border-radius: 8px;
  font-size: $size-font-large;
  color: $color-font-base;
  padding: 4px 8px;
  text-transform: capitalize;
}

/**
 * Styles for the modified date of the ProjectCard component.
 */
.ProjectCard__modified-date {
  color: $color-stepper-title;
  display: block;
  font-size: $size-font-small;
  font-weight: $font-weight-regular;
  line-height: $line-height-reset;
  padding-left: 8px;
}
