@import '../../../scss/variables';

.stepper-wrapper {
  margin-top: 73px;
  position: fixed;
}
.stepper {
  border-bottom: 1px solid $color-base-gray-40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 10px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
  
}   

.stepWrapperContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0.6;
  margin: 0 ;

}

.stepWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &.completed .badge{
    background-color:$color-brand-primary-base;
  }
  &.active .badge {
    background-color: white;
    border: $px-2 solid $color-brand-primary-base;
    color: #6E6B86;
    width: 40px;
    height: 40px;
  }

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.063rem solid $color-stepper-title;
    color: #6E6B86;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0px;
  }

  .stepper-title {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    font-family: Inter;
    
  }
  &.disableEvents{
    cursor: not-allowed;
    opacity: 1 !important; 
    color: #475161 !important;
  }
}
.stepWrapperContainer:has(.disableEvents) {
  cursor: not-allowed;
}

.connector {
  height: 4px;
  background-color: $color-brand-primary-base;
  flex-grow: 1;
  margin: 0; 
  margin-bottom: 30px;
  border-radius: 4px;
  margin-left: -40px;
  margin-right: -40px;
}

.circle-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-wrapper{
  width: 16px;
  height: 11px;
}
.disabled-connector{
  background-color: $color-base-gray-40;
  flex-grow: 1;
  margin: 0; 
  margin-bottom: 30px;
  border-radius: 4px;
  height: 4px;
  margin-left: -40px;
  margin-right: -40px;
}

/******************* Custom Classes *******************/
.stepper-position {
  background-color: $color-brand-white-base;
  margin-top: 73px;
  padding: 24px 40px;
  position: fixed;
  width: calc(100% - 56px);
  z-index: 9;
}
.stepContent {
  background-color: $color-base-white-10;
  height: calc(100vh - 56px);
  padding-top: 190px;
  background: $color-base-white-10;
}
.iconClass {
  &:hover {
    background: transparent;
  }
  svg {
    path {
      fill: $color-brand-white-base;
    }
  }
}