.ReactModal__add-stack {
  .Description-field > textarea {
    resize: none;
  }
  .Select__single-value {
    width: 200px !important;
  }
}
.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__body.selectWrapperBody {
  overflow: visible;
}

