@import '../../scss/variables';
/**
 * Styles for the LogScreen component.
 */

.logs-container {
  font-family: Arial, sans-serif;
  background-color: rgb(241, 241, 241);
  border: 1px solid #EDF1F7;
  border-radius: 8px;
  margin: 0 $px-24 $px-24;
  position: relative;
}

.logs-wrapper {
  position: relative;
  
  /**
   * Styles for the action items within the LogScreen component.
   */
  .action-items {
    background-color: rgb(241, 241, 241);
    position: absolute;
    right: 48px;
    top: 24px;
  }
}

/**
 * Styles for each log entry within the LogScreen component.
 */
.log-entry {
  align-items: center;
  background-color: $color-base-white-10;
  color: $color-base-black-base;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  font-size: $size-font-medium;
  font-weight: $font-weight-medium;
  padding: 5px 0;
  position: relative;
  
  &::before {
    background-color: $color-base-white-5;
    border-right: 1px solid $color-brand-secondary-lightest;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
  
  /**
   * Styles for the log number within each log entry.
   */
  .log-number {
    text-align: center;
    min-width: 50px;
    position: relative;
  }
  
  /**
   * Styles for the log time within each log entry.
   */
  .log-time {
    padding: 0 $px-16;
  }
  
  /**
   * Styles for the log message within each log entry.
   */
  .log-message {
    flex-grow: 1;
    padding: 0 $px-16;
  }
}