@import '../../scss/App.scss';
@import '../../scss/variables';

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5px;
}
.terminal-container {
  background-color: #000;
  color: #fff;
  padding: 10px;
  height: 469px;
  overflow-y: auto;
  white-space: pre-wrap;
  width: 100%;
  box-sizing: border-box;
}

div .step-component .action-component-body {
  //margin-top: 60px !important;
  width: 100% !important;
  margin-left: 0px !important;
}
.cta-wrapper {
  border-top: 1px solid $color-base-gray-40;
  bottom: 0;
  left: 0;
  padding: $space-12 $space-24 $space-12 $space-12;
  position: fixed;
  right: 0;
  text-align: right;
  width: 100%;
  z-index: 1;
}
.selectedOptions {
  color: $color-base-gray-20;
  padding: 5px 10px;
  margin: 5px;
}
.icon-wrapper {
  display: flex;
  margin-left: 30px; /* Adds space to the left of the icon */
  margin-right: 30px;
  margin-top: 20px;
  align-items: center;
}

.execution-wrapper {
  display: flex;
  background-color: $color-base-white-5;
  color: #475161;
  height: $px-40;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center !important;
  padding: 0 !important;
  border: 1px solid #dde3ee;
  border-radius: var(--TermCount, 5px);
}
