@import '../../../../scss/variables';
/**
 * Styles for the FilterModal component.
 */
 .Filter__modal {
  width: $px-400;
  z-index: 40;
  position: absolute;
  background: $color-brand-white-base;
  filter: drop-shadow(0px 4px 30px rgba(34, 34, 34, 0.25));
  border-radius: $px-10;
}

/**
 * Styles for the checkboxes inside the FilterModal component.
 */
 .Filter__modal .Checkbox input:checked ~ .Checkbox__tick,
 .Filter__modal .Checkbox .Checkbox__box {
   margin-top: $px-4;
   font-size: $px-16;
 }

/**
 * Styles for each filter item inside the FilterModal component.
 */
 .Filter__modal .Filter__item {
  cursor: pointer;
  padding: $px-10 $px-20;
}

/**
 * Styles for the filter item when hovered inside the FilterModal component.
 */
 .Filter__modal .Filter__item:hover {
  background-color: $color-base-white-10;
}

/**
 * Styles for the WordWrapper element when the filter item is hovered inside the FilterModal component.
 */
 .Filter__modal .Filter__item:hover .WordWrapper {
  color: $color-brand-primary-base;
}

/**
 * Styles for the Checkbox__box element when the filter item is hovered inside the FilterModal component.
 */
 .Filter__modal .Filter__item:hover .Checkbox__box {
  border: 1.5px solid $color-brand-primary-base;
}

/**
 * Styles for the header of the FilterModal component.
 */
 .Filter__modal-header {
  background: $color-base-white-10;
  border-bottom: 1px solid $color-brand-secondary-lightest;
  font-size: $px-20;
  height: $px-60;
  justify-content: space-between;
  padding: $px-14 $px-16;
}

/**
 * Styles for the container of the header in the FilterModal component.
 */
 .Filter__modal-header .Filter__modal-header-container {
  align-items: center;
  display: flex;
  color: #222;
  font-size: $px-20;
  height: $px-32;
  line-height: 1.5;
  align-items: center;
  display: flex;
  font-weight: 600;
}

/**
 * Styles for the title in the header of the FilterModal component.
 */
 .Filter__modal-header .Filter__modal-header-container .Filter__modal-header-title {
  font-weight: 600;
}

/**
 * Styles for the counter in the header of the FilterModal component.
 */
 .Filter__modal-header .Filter__modal-header-container .Filter__modal-header-counter {
  border: 1px solid $color-brand-secondary-lightest;
  border-radius: 1rem;
  color: $color-stepper-title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: $px-12;
  font-weight: 400;
  justify-content: center;
  margin-left: $px-8;
  max-height: $px-24;
  min-width: $px-30;
  padding: $px-2 $px-8;
  width: fit-content;
}

/**
 * Styles for the search box inside the FilterModal component.
 */
 .Filter__searchbox .Search--primary .Search__input {
  height: $px-35;
}

/**
 * Styles for the content area of the FilterModal component.
 */
 .Filter__modal-content {
  overflow: scroll;
  max-height: $px-250;
  overflow-x: hidden;
}

/**
 * Styles for the filter icon in the FilterModal component.
 */
 .Filter__icon {
  cursor: pointer !important;
  padding: $px-5;
  border-radius: 10%;
}

/**
 * Styles for the background color of the filter icon in the FilterModal component.
 */
 .Filter__icon:hover {
  background-color: rgba(108, 92, 231, 0.1);
}

/**
 * Styles for the cancel button in the header of the FilterModal component.
 */
 .Filter__icon_bg_color {
  background-color: rgba(108, 92, 231, 0.1);
}
.Filter__icon_bg_color {
  background-color: rgba(108, 92, 231, 0.1);
}

.Filter__modal-header-cancel {
  border-radius: 25%;
  cursor: pointer;
  height: $px-24;
  width: $px-24;
}

.Filter__modal-header-cancel:hover {
  background-color: $color-brand-secondary-lightest;
}
/**
 * Styles for the footer of the FilterModal component.
 */
 .Filter__modal-footer {
  display: flex;
  border-top: 1px solid $color-brand-secondary-lightest;
  height: $px-70;
  flex-direction: row-reverse;
  padding: $px-20;
}

/**
 * Styles for the "no results found" message in the FilterModal component.
 */
 .Filter__no-found {
  text-align: center;
  vertical-align: middle;
  line-height: $px-50;
  font-weight: 600;
  font-size: $px-14;
}
