@import '../../scss/variables';

/**
 * Styles for the MigrationFlowHeader component.
 *
 * The MigrationFlowHeader component represents the header section of the migration flow.
 * It provides styling for the background color, border, padding, position, width, and z-index.
 * It also includes styling for the back button within the header.
 */
.migration-flow-header {
  background-color: $color-base-white-10;
  border-bottom: 1px solid $color-base-gray-40;
  padding: $space-16 $space-20;
  position: fixed;
  width: calc(100% - 56px);
  z-index: 9;
  .back-btn {
    padding: 0;
  }
}